body {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
}
h1 {
    text-align: center;
    font-size: 40px;
    color: purple;
}
li {
    font-size: 25px;
    color: purple;
}
.container{
    display: inline-block;
}
.menu{
    width: 150px;
    display: block;
    float: left;
}
.catalog{
    display: block;
    float: left;
    margin-left: 60px;
}
